/* Red */
$red_10: #f4bcbc;
$red_20: #eb9d9d;
$red_30: #de8181;
$red_40: #d26d6d;
$red_50: #c65f5f;
$red_60: #b94e4e;
$red_70: #ad4242;
$red_80: #a13030;
$red_90: #941e1e;
$red_100: #880e0e;

/* Dusty Pink */
$pink_10: #f8cbc6;
$pink_20: #ebbeb9;
$pink_30: #dfb2ad;
$pink_40: #d2a5a0;
$pink_50: #c59893;
$pink_60: #b88b86;
$pink_70: #ac7f7a;
$pink_80: #9f726d;
$pink_90: #926560;
$pink_100: #855843;


/* Turquoise */
$turquoise_10: #c0ede3;
$turquoise_20: #a9e1d6;
$turquoise_30: #8ed1c6;
$turquoise_40: #7cc0b5;
$turquoise_50: #69ada3;
$turquoise_60: #579e95;
$turquoise_70: #448d83;
$turquoise_80: #317c73;
$turquoise_90: #260b62;
$turquoise_100: #0e5b52;

/* Charcoal */
$charcoal_10: #f0f0f0;
$charcoal_20: #d8d8d8;
$charcoal_30: #bdbdbd;
$charcoal_40: #999999;
$charcoal_50: #737373;
$charcoal_60: #5c5c5c;
$charcoal_70: #454545;
$charcoal_80: #383838;
$charcoal_90: #292929;
$charcoal_100: #1a1a1a;

$black: #000;
$white: #fff;
