*, *::before, *::after {
    @include box-sizing;
}

body {
    background: $background-colour;
    color: $font-colour;
    font-family: $font-family;
    font-size: $body-font-size;
    margin: 0;

    p {
        line-height: 1.5;
    }
}

.align-center {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

.hide {
    display: none;
}
